body {
    background-image: url("randomGrey.png");
    
}
.jumbotron {
    background-color:#e8956f;
    color:black;
    margin-bottom:16px;
}
.lead {
    color:black;
}
.token-col {
    border-left: 1px solid #6FC6E8;
}

.content {
    width:100%;
    border-bottom: 2px solid #e8956f;
    color:#6FC6E8;
    font-weight:600;
    margin: 0 auto;
    
}
.button-row {
    padding-top:15px;
    padding-bottom:15px;
}

.dropdown-toggle, #generate-btn {
    color:#6FC6E8;
}

.dropdown-menu {
    background-color:#e8956f;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


